@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth; /* <--- THIS IS THE NEW LINE */
}

body {
  background-color: #F5F5F7;
  color: #1D1D1F;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* ... keep the rest of your scrollbar code here ... */